## Indicare due modi diversi per importare il dataset dei giocatori della National Football League in un DataFrame PANDAS

In [1]:
import pandas as pd

dataframe = pd.read_csv("./nfl.csv", parse_dates=["Birthday"])

## Costruire un indice delle righe del DataFrame, utilizzando il Nome Del Giocatori: indicare due modi diversi per costruire l'indice

In [39]:
df1 = dataframe.set_index("Name")
print(df1)

                                    Team Position   Birthday   Salary
Name
Tremon Smith         Philadelphia Eagles       RB 1996-07-20   570000
Shawn Williams        Cincinnati Bengals       SS 1991-05-13  3500000
Adam Butler         New England Patriots       DT 1994-04-12   645000
Derek Wolfe               Denver Broncos       DE 1990-02-24  8000000
Jake Ryan           Jacksonville Jaguars      OLB 1992-02-27  1000000
...                                  ...      ...        ...      ...
Bashaud Breeland      Kansas City Chiefs       CB 1992-01-30   805000
Craig James          Philadelphia Eagles       CB 1996-04-29   570000
Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
Chuma Edoga                New York Jets       OT 1997-05-25   495000
Tajae Sharpe            Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 4 columns]

## Contare il numero di giocatori per ogni team: indicare tre modi diversi per rispondere alla precedente query

In [3]:
sol1 = dataframe.groupby("Team").count().rename(
    {"Name": "#Players"}, axis="columns")["#Players"]
print(sol1)

sol2 = dataframe["Team"].value_counts()
print(sol2)

sol3 = dataframe

Team
Arizona Cardinals       51
Atlanta Falcons         53
Baltimore Ravens        48
Buffalo Bills           53
Carolina Panthers       49
Chicago Bears           53
Cincinnati Bengals      51
Cleveland Browns        49
Dallas Cowboys          53
Denver Broncos          54
Detroit Lions           53
Green Bay Packers       51
Houston Texans          52
Indianapolis Colts      49
Jacksonville Jaguars    50
Kansas City Chiefs      56
Los Angeles Chargers    54
Los Angeles Rams        52
Miami Dolphins          49
Minnesota Vikings       54
New England Patriots    49
New Orleans Saints      55
New York Giants         52
New York Jets           58
Oakland Raiders         51
Philadelphia Eagles     52
Pittsburgh Steelers     47
San Francisco 49Ers     55
Seattle Seahawks        53
Tampa Bay Buccaneers    47
Tennessee Titans        46
Washington Redskins     56
Name: #Players, dtype: int64
New York Jets           58
Kansas City Chiefs      56
Washington Redskins     56
New Orleans Saints      55
San Francisco 49Ers     55
Denver Broncos          54
Minnesota Vikings       54
Los Angeles Chargers    54
Seattle Seahawks        53
Dallas Cowboys          53
Buffalo Bills           53
Atlanta Falcons         53
Detroit Lions           53
Chicago Bears           53
Los Angeles Rams        52
New York Giants         52
Philadelphia Eagles     52
Houston Texans          52
Arizona Cardinals       51
Cincinnati Bengals      51
Green Bay Packers       51
Oakland Raiders         51
Jacksonville Jaguars    50
Cleveland Browns        49
Miami Dolphins          49
Indianapolis Colts      49
Carolina Panthers       49
New England Patriots    49
Baltimore Ravens        48
Pittsburgh Steelers     47
Tampa Bay Buccaneers    47
Tennessee Titans        46
Name: Team, dtype: int64

## Stampare i 5 giocatori più pagati, tra tutte le squadre

In [4]:
top_5_players = dataframe.sort_values(
    by="Salary", ascending=False).head().set_index("Name")

print(top_5_players)

                                 Team Position   Birthday    Salary
Name
Kirk Cousins        Minnesota Vikings       QB 1988-08-19  27500000
Jameis Winston   Tampa Bay Buccaneers       QB 1994-01-06  20922000
Marcus Mariota       Tennessee Titans       QB 1993-10-30  20922000
Derek Carr            Oakland Raiders       QB 1991-03-28  19900000
Jimmy Garoppolo   San Francisco 49Ers       QB 1991-11-02  17200000

## Stampare il DataFrame ordinandolo prima in base ai Nomi dei team, quindi, all'interno dello stesso team, ordinando i giocatori in base al salario, in senso discendente

In [5]:
print(dataframe.sort_values(by=["Team", "Salary"], ascending=[True, False]))

                    Name                 Team Position   Birthday    Salary
1577      Chandler Jones    Arizona Cardinals      OLB 1990-02-27  16500000
669     Patrick Peterson    Arizona Cardinals       CB 1990-07-11  11000000
1361    Larry Fitzgerald    Arizona Cardinals       WR 1983-08-31  11000000
1594       David Johnson    Arizona Cardinals       RB 1991-12-16   5700000
948          Justin Pugh    Arizona Cardinals        G 1990-08-15   5000000
...                  ...                  ...      ...        ...       ...
1109  Ross Pierschbacher  Washington Redskins        C 1995-05-05    495000
1325       Kelvin Harmon  Washington Redskins       WR 1996-12-15    495000
1344          Wes Martin  Washington Redskins        G 1996-05-09    495000
1345      Jimmy Moreland  Washington Redskins       CB 1995-08-26    495000
1509       Jeremy Reaves  Washington Redskins       SS 1996-08-29    495000

[1655 rows x 5 columns]

## stampare il nome del giocatore più vecchio dei New York Jets, con la data del suo compleanno: indicare due modi diversi per risolvere l'esercizio

In [6]:
oldest_fella = dataframe.loc[dataframe["Birthday"].idxmin()]
print(oldest_fella["Name"])

oldest_fella = dataframe.sort_values(by="Birthday").iloc[0]
print(oldest_fella["Name"])

Tom Brady
Tom Brady